.card {
  margin-right: 1rem;
  width: 30%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #faf7f2;
  padding-bottom: 2rem;
}
.card > div {
  position: relative;
}
.card > div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 798px) {
  .card {
    width: 40%;
  }
}
@media only screen and (max-width: 598px) {
  .card {
    width: 90%;

    margin-right: 0;
  }
}
