* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
body {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
/* html {
  background-color: #000;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: papayawhip;
  margin: 0 auto;
}
 */
@media only screen and (max-width: 477px) {
  html,
  body {
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
