.header {
  text-align: center;
  font-size: clamp(2.8em, 10vw, 5em);
  margin-bottom: 4rem;
  font-family: "Caveat", cursive;
  padding-top: 5rem;
}
.chefsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  padding-top: 5rem;
}
.zeft {
  width: 32vw;
  height: 400px;
  display: flex;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.zeft:not(:last-of-type) {
  margin-right: 1vw;
}

.overlay {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50%;
  transform: translateY(100%);
  transition: all 2s ease-in-out;
}
.overlay > ul {
  bottom: -5rem;
  visibility: hidden;
  opacity: 0;
}
.overlay > ul > li {
  transition: visibility 1s, opacity 1s;
  visibility: hidden;
  opacity: 0;
}
.overlay > ul > li > img {
  margin-top: 9px;
}

.out {
  animation: down 0.5s 0.5s forwards;
}
.zeft:hover > .overlay {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.zeft:hover > div > ul {
  visibility: visible;
  opacity: 1;
}

.zeft:hover > .overlay ul > li:first-of-type {
  animation: icons-top 0.3s forwards;
  animation-delay: 0s;
}
.zeft:hover > .overlay ul > li:nth-of-type(2) {
  animation: icons-top 0.3s forwards;
  animation-delay: 0.1s;
}
.zeft:hover > .overlay ul > li:nth-of-type(3) {
  animation: icons-top 0.3s forwards;
  animation-delay: 0.2s;
}
.zeft:hover > .overlay ul > li:nth-of-type(4) {
  animation: icons-top 0.3s forwards;
  animation-delay: 0.3s;
}
.zeft:hover > .overlay ul > li:hover {
  background-color: #f43127;
}

.footer {
  position: absolute;
  transform: translateY(340%);
  background-color: white;
  text-align: center;
  width: clamp(300px, 9vw, 20%);
  height: 100px;
  transition: all0.3s ease-in-out;
}
.footer::after {
  content: "";
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 37%;
  width: 80px;
  height: 3px;
  background-color: #f43127;
  transition: all0.3s ease-in;
}
.footer:hover::after {
  content: "";
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 37%;
  width: 100%;
  height: 3px;
  background-color: #f43127;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  animation: test 0.5s forwards;
}
.footer p {
  letter-spacing: 1px;
}
.footer p:first-of-type {
  font-size: clamp(1.7em, 4vw, 2em);
  transition: all 0.5s ease;
}
.footer p:first-of-type:hover {
  color: #f43127;
}
.footer p:nth-of-type(2) {
  font-size: clamp(1.1em, 2vw, 1.2em);
  color: #9a9898;
}
@media only screen and (max-width: 726px) {
  .zeft {
    width: 70vw;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 495px) {
  .footer {
    width: clamp(200px, 2vw, 20%);
  }
}
@media only screen and (max-width: 340px) {
  .footer {
    width: clamp(150px, 2vw, 20%);
  }
  .footer > p:nth-of-type(1) {
    font-size: 1.3em;
  }
  .footer > p:nth-of-type(2) {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1202px) {
  .zeft {
    width: 350px;
  }
}
@keyframes icons-top {
  from {
    bottom: -6rem;
    opacity: 0.1;
  }
  to {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes test {
  from {
    left: 37%;
  }
  to {
    left: 0%;
  }
}
@keyframes out {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -5rem;
    opacity: 0.5;
  }
}
@keyframes down {
  from {
    bottom: -5rem;
  }
  to {
    bottom: -15rem;
  }
}
